body{
font-family: monospace;
background-color: black;
color: rgb(4, 228, 4);
text-align: center;
}

/*Animations for the typewriteeffent*/
@keyframes typing {
    from {max-width: 50%}
    to {max-width: 100%}
}
@keyframes blinking {
    from, to {border-color: transparent}
    50% {border-color: black}
}
.typing{
    border-right: .15em solid black;
    overflow: hidden;
    white-space: nowrap;
}
@font-face {
    font-family: 'Silkscreen';
    src: url('../Styles/font/silkscreen/slkscr.ttf');
}
h1{
    font-size: 4rem;
   
}
.name {
    font-size: 3rem;
}
.date{
    font-size: 1rem;
}
.basic-info{
    font-size: 1rem;

}

.bagdes{
    border: 2px dotted rgb(4, 228, 4);
}

nav{
font-size: 1.5rem;
}
nav > a{
    color:  rgb(4, 228, 4);
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    word-break: break-all;
}
.grid-item{
    border: 2px dotted rgb(4, 228, 4);
    padding: 10px;
    justify-content: center;
    
}
.grid-item > img{
    width: 40%;
    border: 10px groove rgb(4, 228, 4);

}
.grid-item > p{
    font-size: 1.0rem;
    text-align: left;
}
.grid-item > ul{
    font-size: 1.5rem;
    text-align: left;
}