body{
font-family: monospace;
background-color: black;
color: rgb(4, 228, 4);
text-align: center;
}
@font-face {
    font-family: 'Silkscreen';
    src: url('../Styles/font/silkscreen/slkscr.ttf');
}
h1{
    font-size: 4rem;
   
}
.name {
    font-size: 3rem;
}
.date{
    font-size: 1rem;
}
.basic-info{
    font-size: 1rem;

}

.bagdes{
    border: 2px dotted rgb(4, 228, 4);
}

nav{
font-size: 1.5rem;
}
nav > a{
    color:  rgb(4, 228, 4);
}
